<div class="">
    <div class="aHl"></div><div id=":pl" tabindex="-1"></div><div id=":pa" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div id=":p9" class="a3s aiL ">
            <u></u>













            <div style="background-color:#ffffff;padding:0;margin:5px auto">
                <div style="font-size:1px;display:none!important">E-ARŞİV FATURA BİLGİSİ</div>









                <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff;text-align:center;margin:0px auto" width="600">
                    <tbody>
                        <tr>
                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                <table align="center" bgcolor="#F36928" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" bgcolor="#F36928" style="background-color:#f36928;color:#ffffff;text-align:center;vertical-align:middle;font-family:Arial,sans-serif,helvetica;font-size:22px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#F36928" style="background-color:#f36928;color:#ffffff;text-align:center;vertical-align:middle;font-family:Arial,sans-serif,helvetica;font-size:22px"><span style="color:#000000!important;font-weight:bold"><strong>Sifarişiniz qəbul olundu.</strong></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#F36928" style="background-color:#f36928;color:#ffffff;text-align:center;vertical-align:middle;font-family:Arial,sans-serif,helvetica;font-size:18px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            {{id}}
                                        </tr>


                                        <tr>
                                            <td align="center" bgcolor="#F36928" style="background-color:#f36928;color:#ffffff;text-align:center;vertical-align:middle;font-family:Arial,sans-serif,helvetica;font-size:18px">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFFFFF" valign="middle"><span style="width:1px!important;height:6px!important"><img alt="line" border="0" height="6" src="https://ci3.googleusercontent.com/proxy/sMC0z6_9pKH3CufiONpR1wxv8Pek_X1Rbgb_hvVjivwwG87L7pH55CqiMplQ4qE6JpMVMzU0uxcWWxOwcg1SS8XhlIfDFG6NPHSno7_rKJUKa5nSLCHgii1B=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/mailing/2018/cocuk-karma/images/space.gif" style="display:block;display:block" vspace="0" width="1" class="CToWUd"></span></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                <table border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="middle">
                                                <a href="https://click.email.trendyol.com/?qs=648ba5271a35e9cec0642d4576deda55140bdb8856c6eb0edb1b77a4d6cb9aa068cd3f28b72d8597c976af637040d850586441ce8879fe3effe3cf34ddc9ed7f" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3D648ba5271a35e9cec0642d4576deda55140bdb8856c6eb0edb1b77a4d6cb9aa068cd3f28b72d8597c976af637040d850586441ce8879fe3effe3cf34ddc9ed7f&amp;source=gmail&amp;ust=1641593048212000&amp;usg=AOvVaw1wNQkePR2MzoQlT_qrdbPk"><img alt="trendyolmilla tüm koleksiyonlar" src="https://ci6.googleusercontent.com/proxy/Vxp75op7e_BizFrH2YEBq9h0xZfbKeY95uWVuV7DBbUKmg5cz1LJZpcQZ0ziGDJabsfeABnvGXGbZTFRXfBRVb6FmrAxcikldVq5jZnUXmmywWT1oxGiJXHlnYZOpQzo=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/banner/2019/mailing/earsiv/images/millaleft.jpg" width="297" class="CToWUd"></a>
                                            </td>
                                            <td align="center" valign="middle" width="6">&nbsp;</td>
                                            <td align="center" valign="middle">
                                                <a href="https://click.email.trendyol.com/?qs=66eae80d2770e77c9ac6b84ae35fcea81b4005ea183e20b7799abc7865ef3549a215954e2fe6b274b445548b7d3c848010dcdae55377aaa1e553a80fc05c6d33" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3D66eae80d2770e77c9ac6b84ae35fcea81b4005ea183e20b7799abc7865ef3549a215954e2fe6b274b445548b7d3c848010dcdae55377aaa1e553a80fc05c6d33&amp;source=gmail&amp;ust=1641593048212000&amp;usg=AOvVaw1mMsPrqcDThWGqci9l5Jm2"><img alt="trendyol man tüm koleksiyonlar" src="https://ci6.googleusercontent.com/proxy/gf6jS58C_5BtDFe9D0T3qzZBsSyYVLESLUGdx-QnZVyib2lUEFD5qrE7jfwWunZ1M7wLDULsSwH-sNbSy4RZBl9FUuKdQ2nVp6v88XMetktsmxnXHo6DFjEhIPhhwa4=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/banner/2019/mailing/earsiv/images/manright.jpg" width="297" class="CToWUd"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFFFFF" valign="middle">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" bgcolor="#FFFFFF" style="font-family:Arial,sans-serif;font-size:14px;color:#222222;text-align:center;vertical-align:middle;padding-top:10px;padding-bottom:20px" valign="middle"><strong>LİMAK MOBİL TƏTBİQİNİ ENDİRİN</strong></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="280">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <table align="center" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle">
                                                                                <a href="https://click.email.trendyol.com/?qs=fd5518dca4b63218fe956ee4e8164fbcc706c0391faa780f138b084d86dbc5f23b13d5d1b51b5f8f53d364477e8d01ccc0944ff763198efc5ecfd5eca79f1282" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3Dfd5518dca4b63218fe956ee4e8164fbcc706c0391faa780f138b084d86dbc5f23b13d5d1b51b5f8f53d364477e8d01ccc0944ff763198efc5ecfd5eca79f1282&amp;source=gmail&amp;ust=1641593048213000&amp;usg=AOvVaw1gYmgnY1LhPBoiF_cyctT4"><img alt="App Store" border="0" hspace="0" src="https://ci3.googleusercontent.com/proxy/vh-163RU_FaShUZklp-SCNKjKl1FJa4a8jmVHk4zwshG5H0hdqf8P6ubo9taPvdFQfKMlwkCHpQ-EuZrSfwE-NzViNNRv55qn1AP6nU1b0-42DVPxVbRUJaH7U78K-M=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/app-store-logo-2x.jpg" style="display:block" title="App Store" vspace="0" width="130" class="CToWUd"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td align="center" valign="top">
                                                                <table align="center" cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle">
                                                                                <a href="https://click.email.trendyol.com/?qs=453651a9082ebece121f997acd7746e6edc4a33d5405a71c7494a695a49a481e9fab48df43cdd4655216d224bbdcda306a5d60f59cb9404acc0325f9f70948c6" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3D453651a9082ebece121f997acd7746e6edc4a33d5405a71c7494a695a49a481e9fab48df43cdd4655216d224bbdcda306a5d60f59cb9404acc0325f9f70948c6&amp;source=gmail&amp;ust=1641593048213000&amp;usg=AOvVaw3T9X5vdovE7PQQ2oQFTQmZ"><img alt="Google Play" border="0" hspace="0" src="https://ci6.googleusercontent.com/proxy/fq9ov42cAjoLjKJLbdVzaUXhIRJhXYN-XxeZULxGOt5dduiv4hqJViJF1VG9tZTiDrLRIobeJtm1RrCH7F87E8ZTEXvN6QQ9rDb_TyuYYHt7eR60Jl_NgTPdfZJlYRtRPstlU7wQjg=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/google-play-store-logo-2x.png" style="display:block" title="Google Play" vspace="0" width="130" class="CToWUd"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" bgcolor="#FFFFFF" valign="middle"><span style="width:1px!important;height:15px!important"><img alt="line" border="0" height="15" src="https://ci3.googleusercontent.com/proxy/sMC0z6_9pKH3CufiONpR1wxv8Pek_X1Rbgb_hvVjivwwG87L7pH55CqiMplQ4qE6JpMVMzU0uxcWWxOwcg1SS8XhlIfDFG6NPHSno7_rKJUKa5nSLCHgii1B=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/mailing/2018/cocuk-karma/images/space.gif" style="display:block;display:block" vspace="0" width="1" class="CToWUd"></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#FFFFFF" style="font-family:Arial;font-size:14px;color:#222222;text-align:center;vertical-align:middle;padding-top:10px;padding-bottom:15px" valign="middle"><strong>MODAYI TAKİPTE KAL</strong></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                                <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="background-color:#ffffff" width="260">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" valign="top">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="130">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top">
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="65">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <a href="https://click.email.trendyol.com/?qs=a46d7fdd3d7375ab0acc48b12e1eb927189164e49ade6ee8e76d1b6a68379e7045021b674d7b05b3f32754960b8bb1ba8ce64667974e9ad90c64b6f87107b13a" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3Da46d7fdd3d7375ab0acc48b12e1eb927189164e49ade6ee8e76d1b6a68379e7045021b674d7b05b3f32754960b8bb1ba8ce64667974e9ad90c64b6f87107b13a&amp;source=gmail&amp;ust=1641593048213000&amp;usg=AOvVaw0CHajE8zMIzs-rwLkRLCNd"><img alt="Instagram" border="0" hspace="0" src="https://ci3.googleusercontent.com/proxy/oo4zjr3nSs9eqcUDdspWMmMWUtvitxDGA2wEJx3czQ5qAxl-2Qo-RDkU53ZLvZ_OPBYphVBqFc8aMuQc9qvjNijGrKnbqtpW2MXawQOc1ulbqtKrCCvqddGEXSzeJg=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/instagram-retina.jpg" style="display:block" title="Instagram" vspace="0" width="50" class="CToWUd"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td align="center" valign="top">
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="65">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <a href="https://click.email.trendyol.com/?qs=a28b93c0b888d8893b0928996280adf6f078b552c607d62fc417fee11654b434053172b9c91e6d6345900f94ea6716799b3b7eb4409261ca82721d0451889f9a" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3Da28b93c0b888d8893b0928996280adf6f078b552c607d62fc417fee11654b434053172b9c91e6d6345900f94ea6716799b3b7eb4409261ca82721d0451889f9a&amp;source=gmail&amp;ust=1641593048214000&amp;usg=AOvVaw079Dnw6LRNtafJGV4mKfl4"><img alt="Facebook" border="0" hspace="0" src="https://ci3.googleusercontent.com/proxy/TRXWls_3Itle5_KrJzzYCqTcPmr_SW-bGk2-OGjN-Alnu5vJztRK7FJfCiuqvtZ6gYJEFV1ZuThify9Yp_GDQGro45oFeiBPrAhPNxYrtqFSNCluw60icFErgSQT=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/facebook-retina.jpg" style="display:block" title="Facebook" vspace="0" width="50" class="CToWUd"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td align="center" valign="top">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="130">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="top">
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="65">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <a href="https://click.email.trendyol.com/?qs=9a36d87ad8f5bafd32925c845c4f3e7ead881ed2369e12a7a5312db0bd1b5f57fae45af918da6580075b2ba0e7fbe13e3c7f924df27b9eccc4fdf00851eaa94b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3D9a36d87ad8f5bafd32925c845c4f3e7ead881ed2369e12a7a5312db0bd1b5f57fae45af918da6580075b2ba0e7fbe13e3c7f924df27b9eccc4fdf00851eaa94b&amp;source=gmail&amp;ust=1641593048214000&amp;usg=AOvVaw00j7PtaWVhGBO0KxlwLOg3"><img alt="Twitter" border="0" hspace="0" src="https://ci4.googleusercontent.com/proxy/cvmhQ0F7Uv83czHyKYYv4zfLyO0tjRNNXuP16UeG1LqWsL7zC_ltBGG77a4NmREJU3mwqWSwOOKRVoVij81pvJbdXuR2fwrmCRlRkg79GV0R_FRkMZZ4TsUkjLo=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/twitter-retina.jpg" style="display:block" title="Twitter" vspace="0" width="50" class="CToWUd"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td align="center" valign="top">
                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="65">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center">
                                                                                                <a href="https://click.email.trendyol.com/?qs=a0d5e2c7667270956b9170d6fea08662aafe5e035a02baeb45467517e9708514043163fd287a2724e0b8c66bb18cce6c10aa5b5934ed59b3eb2679b48c7d8c6d" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3Da0d5e2c7667270956b9170d6fea08662aafe5e035a02baeb45467517e9708514043163fd287a2724e0b8c66bb18cce6c10aa5b5934ed59b3eb2679b48c7d8c6d&amp;source=gmail&amp;ust=1641593048214000&amp;usg=AOvVaw2jXuBE4H3feflw2BMEa4EU"><img alt="YouTube" border="0" hspace="0" src="https://ci5.googleusercontent.com/proxy/MJeik1GnwZaJoGEw1FOg-1gW8bgSWnLYE-1UnVszgFx-6sGGjvFcqw7YErswMA4USpeIMuSnoGqiTOzt0hzu_dgj7mfAFJBwyAmAOcGPPb-dk25ihGJ5swa-8gI=s0-d-e1-ft#https://cdn.dsmcdn.com/Assets/mailing/socialapp/images/youtube-retina.jpg" style="display:block" title="YouTube" vspace="0" width="50" class="CToWUd"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" bgcolor="#FFFFFF" valign="middle"><span style="width:1px!important;height:15px!important"><img alt="line" border="0" height="15" src="https://ci3.googleusercontent.com/proxy/sMC0z6_9pKH3CufiONpR1wxv8Pek_X1Rbgb_hvVjivwwG87L7pH55CqiMplQ4qE6JpMVMzU0uxcWWxOwcg1SS8XhlIfDFG6NPHSno7_rKJUKa5nSLCHgii1B=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/mailing/2018/cocuk-karma/images/space.gif" style="display:block;display:block" vspace="0" width="1" class="CToWUd"></span></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#FFFFFF" valign="middle">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="500">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" bgcolor="#FFFFFF" style="font-family:Arial;font-size:11px;color:#a3a3a3;text-align:center;vertical-align:middle;line-height:16px" valign="middle">
                                                                Ürün fiyatları zaman içinde değişiklik gösterebilir. Kampanya ve duyuru maillerinden çıkmak istiyorsan <a href="https://click.email.trendyol.com/?qs=dfb918589999c1adefb51949ce496ca1e54a08710fe3915a38bf48af068eedf0c13b786464f675363e87908bf3a5f46a347d8956e1d47a7802010a26c6739d85" style="color:#a3a3a3;text-decoration:underline" title="Üyelik Bilgilerim" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.trendyol.com/?qs%3Ddfb918589999c1adefb51949ce496ca1e54a08710fe3915a38bf48af068eedf0c13b786464f675363e87908bf3a5f46a347d8956e1d47a7802010a26c6739d85&amp;source=gmail&amp;ust=1641593048214000&amp;usg=AOvVaw0EsB5WXm7UUHWoWtuynsPU">Üyelik Bilgilerim</a> sayfasından tercihlerini değiştirebilirsin.<br>
                                                                <br>
                                                                İletişim: DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş. Maslak Mahallesi Büyükdere Caddesi (Spine Plaza) No:243 İç Kapı No:19 Sarıyer/İstanbul Tel No: <a href="tel:+902123310200" style="color:#a3a3a3;text-decoration:none" target="_blank">+90 (212) 331 3250</a> Mersis No: 0313055766900016
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" bgcolor="#FFFFFF" valign="middle"><span style="width:1px!important;height:15px!important"><img alt="line" border="0" height="15" src="https://ci3.googleusercontent.com/proxy/sMC0z6_9pKH3CufiONpR1wxv8Pek_X1Rbgb_hvVjivwwG87L7pH55CqiMplQ4qE6JpMVMzU0uxcWWxOwcg1SS8XhlIfDFG6NPHSno7_rKJUKa5nSLCHgii1B=s0-d-e1-ft#https://cdn.dsmcdn.com/assets/mailing/2018/cocuk-karma/images/space.gif" style="display:block;display:block" vspace="0" width="1" class="CToWUd"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <img src="https://ci5.googleusercontent.com/proxy/kPSSGOKwBGHz9oGmiDOSc6Wcp4A05QDEb_7AALpnI8uzwzI7L0qzuFL_-vFh82k7lugN6Jb3ap5GB-GquoShLOgQKtoxKGvRFpVy9SIHeESu0U0bY1YnWh7trp89DCeMfafGc9rzRnt6wnf655Knh27nLGJnx8FMGBsyagSfA6Ug4u0QlUpoZ4njU6WWlR_wHunXGPpF0UBLO4hnMeS-Jg9ayCjadKzFuUrnQ_3AJoowKu0dvtO1bK4t2ut7lK0Hf6N-gw=s0-d-e1-ft#https://click.email.trendyol.com/open.aspx?ffcb10-fed015707761057b-fe5a127570630c797714-fe3e157075640479711074-ff9d1670-fe1b17797c67027b721273-fe9417767d64017875&amp;d=100154&amp;bmt=0" width="1" height="1" alt="" class="CToWUd"><div class="yj6qo"></div><div class="adL">

            </div>
        </div>
    </div><div id=":pp" class="ii gt" style="display:none"><div id=":pq" class="a3s aiL "></div></div><div class="hi"></div>
</div>