@model HomeViewModel

<section id="hero" style="background-image: url(./assets/images/background-img.jpg);">
    <div class="container-hero">
        <div class="row">
            <div class="col-md-7 col-12">
                <div class="card order-card">
                    <div class="order-card-content">
                        <h1 class="title order-card-title">
                            "LİMAK"
                            <span class="badge badge-secondary">SÜRƏTLİ</span>
                            POÇTDAŞIMA <br> VƏ <br>
                            KURYER ŞİRKƏTİDİR
                        </h1>
                        <form action="">
                            <div class="order-input">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           placeholder="Məhsul linkini əlavə edin">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <img src="~/assets/images/link.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-success btn-plus">
                                    <img src="~/assets/images/plus.svg" alt="">
                                </button>
                            </div>
                            <button type="button" class="btn btn-success btn-order">Sifariş et</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class="card register-card">
                    <div class="register-card-header">
                        <h2 class="register-card-title">QEYDİYYAT</h2>
                        <img src="~/assets/images/mascot.svg" alt="">
                    </div>
                    <div class="register-card-main">
                        <div class="register-card-padding">
                            <form class="register-card-form">
                                <div class="register-card-form-input">
                                    <input type="text" id="name" placeholder="Ad" class="form-control">
                                    <input type="text" id="surname" placeholder="Soyad" class="form-control">
                                </div>
                                <div class="register-card-form-input">
                                    <input type="text" id="email" placeholder="Email" class="form-control">
                                    <input type="number" id="number" placeholder="Telefon" class="form-control">
                                </div>
                                <div class="register-card-form-input">
                                    <div class="group mr">
                                        <input type="password" id="password" placeholder="Şifrə"
                                               class="form-control">
                                        <a class="visibility-btn showPass">
                                            <span class="show"></span>
                                        </a>
                                    </div>
                                    <div class="group">
                                        <input type="password" id="password" placeholder="Şifrənin təkrarı"
                                               class="form-control last-input">
                                        <a class="visibility-btn showPass">
                                            <span class="show"></span>
                                        </a>
                                    </div>
                                </div>
                                <select id="deliveryOffice" class="custom-select">
                                    <option>Çatdırılma ofisi</option>
                                    <option value="1">Bakı - İçərişəhər</option>
                                    <option value="1">Bakı - Xalqlar Dostluğu</option>
                                    <option value="1">Xırdalan</option>
                                    <option value="1">Sumqayıt</option>
                                    <option value="1">Gəncə</option>
                                    <option value="1">Zaqatala</option>
                                </select>
                                <button type="button">
                                    <span>QEYDİYYAT</span>
                                    <img src="~/assets/images/arrow-right.svg" alt="">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-container">
    <div class="home">
        <!-- Shops -->
        <div class="block">
            <div class="block-header">
                <h2 class="block-title">Mağazalar</h2>
            </div>
            <div class="block-body">
                <div class="store-list">
                    <div class="row">
                        @foreach (var shopItem in Model.ShopItems)
                        {
                            <div class="col-sm-4 col-md-3 col-6">
                                <a href="@shopItem.RedirectUrl" class="store-item">
                                    <article class="card">
                                        <img src="~/assets/images/@shopItem.Image" alt="">
                                    </article>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block-foot">
                <a asp-action="index" asp-controller="shop" class="more">
                    <span>Daha çox</span>
                    <img src="~/assets/images/arrow-right-color.svg" alt="">
                </a>
            </div>
        </div>

        <!-- News -->
        <div class="block">
            <div class="block-header">
                <h2 class="block-title">YENİLİKLƏR VƏ ELANLAR</h2>
            </div>
            <div class="block-body">
                <div class="news-list">
                    <div class="row">
                        @foreach (var announcement in Model.Announcements)
                        {
                            <div class="col-sm-6 col-md-4 col-12">
                                <a href="#" class="news-card">
                                    <article class="card">
                                        <img src="~/assets/images/@announcement.Image" alt="" class="card-img-top">
                                        <div class="card-body">
                                            <h4 class="card-title">@announcement.Title</h4>
                                            <p class="card-text news-card-date">
                                                <img src="~/assets/images/calendar.svg" alt="">
                                                <span>@announcement.CreatedAt</span>
                                            </p>
                                        </div>
                                    </article>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="block-foot">
                <a asp-action="index" asp-controller="shop" class="more">
                    <span>Daha çox</span>
                    <img src="~/assets/images/arrow-right-color.svg" alt="">
                </a>
            </div>
        </div>

        <!-- Currency -->
        <div class="block">
            <div class="block-header">
                <h2 class="block-title">ÖLKƏLƏR ÜZRƏ TARİFLƏR</h2>
            </div>
            <div class="block-body">
                <div class="currency-div">
                    <div class="currency-wrapper">
                        <div class="currency-inner">
                            <div class="left-side">
                                <div class="card tariff-card">
                                    <div class="tariff-card-header">
                                        <img src="~/assets/images/tr-circle.svg" alt="">
                                        <h3>Türkiyə</h3>
                                    </div>
                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link active">
                                                    Bakı - İçərişəhər
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Bakı - Xalqlar Dostluğu
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Xırdalan
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Sumqayıt
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Gəncə
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Zaqatala
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <ul>
                                                <li>
                                                    <div class="weight"><strong>0 kq - 0.1 kq</strong></div>
                                                    <div class="price"><strong>1.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.1 кq - 0.25 кq</strong></div>
                                                    <div class="price"><strong> 2.00 </strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.25 kq - 0.5 kq</strong></div>
                                                    <div class="price"><strong>3.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.5 kq - 0.7 kq</strong></div>
                                                    <div class="price"><strong>4.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.7 kq - 1 kq</strong></div>
                                                    <div class="price"><strong>4.50</strong> $</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="left-side">
                                <div class="card tariff-card">
                                    <div class="tariff-card-header">
                                        <img src="~/assets/images/usa-circle.svg" alt="">
                                        <h3>ABŞ</h3>
                                    </div>
                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link active">
                                                    Bakı - İçərişəhər
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Bakı - Xalqlar Dostluğu
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Xırdalan
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Sumqayıt
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Gəncə
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    Zaqatala
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <ul>
                                                <li>
                                                    <div class="weight"><strong>0 kq - 0.1 kq</strong></div>
                                                    <div class="price"><strong>1.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.1 кq - 0.25 кq</strong></div>
                                                    <div class="price"><strong> 2.00 </strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.25 kq - 0.5 kq</strong></div>
                                                    <div class="price"><strong>3.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.5 kq - 0.7 kq</strong></div>
                                                    <div class="price"><strong>4.00</strong> $</div>
                                                </li>
                                                <li>
                                                    <div class="weight"><strong>0.7 kq - 1 kq</strong></div>
                                                    <div class="price"><strong>4.50</strong> $</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Partners -->
        <div class="block">
            <div class="block-header">
                <h2 class="block-title">SERTİFİKATLARIMIZ VƏ TƏRƏFDAŞLARIMIZ</h2>
            </div>
            <div class="block-body">
                <div class="partner-list">
                    @foreach (var certificate in Model.Certificates)
                    {
                        <a href="@certificate.RedirectUrl" class="partner-item">
                            <img src="~/assets/images/@certificate.Image" alt="">
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

