@model ProfileViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-sm-12 col-md-8 col-lg-9">
    <div>
        <div class="content">
            <div class="row">
                <div>
                    <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                        <li class="nav-item">
                            <a class="nav-link active" data-target="1">
                                <span class="card-tabs-nav-title">
                                    Hesab məlumatları
                                </span>
                            </a>
                        </li>
                        <li class="nav-item card-tabs">
                            <a class="nav-link" data-target="2">
                                <span class="card-tabs-nav-title">Şifrə</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content card-tabs-body">
                <div class="tab-pane active active-tab" data-id="1">
                    <div class="card order-item order-item-settings">
                        <div class="card-body">
                            <div class="card-step">
                                <form method="post" class="form-settings">
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="text" asp-for="FullName" placeholder="Ad"
                                                   class="form-control">
                                            <span class="text-danger" asp-validation-for="FullName"></span>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" asp-for="UserName" placeholder="İstifadəçi adı"
                                                   class="form-control">
                                            <span class="text-danger" asp-validation-for="UserName"></span>
                                        </div>
                                        <div class="col-6">
                                            <select class="custom-select" asp-for="WareHouseId" asp-items="@(new SelectList(ViewBag.WareHouses,"Id","Name"))"></select>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" asp-for="BirthDay" placeholder="Doğum tarixi"
                                                   class="form-control">
                                            <span class="text-danger" asp-validation-for="BirthDay"></span>
                                        </div>
                                        <div class="col-6">
                                            <input asp-for="Email" disabled placeholder="Email"
                                                   class="form-control">
                                            <span class="text-danger" asp-validation-for="Email"></span>

                                        </div>
                                        <div class="col-6">
                                            <input asp-for="PhoneNumber" placeholder="Telefon Nömrəsi"
                                                   class="form-control">
                                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-submit btn-primary">
                                                <span>Yadda saxla</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active-tab" data-id="2">
                    <div class="card order-item order-item-safety">
                        <div class="card-body custom-padding">
                            <form method="post" asp-controller="account" asp-action="changepassword" class="form-safety">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="card-step">
                                            <h3 class="step-title upper">CARİ ŞİFRƏ</h3>
                                            <div role="group" class="input-group search">
                                                <input id="CurrentPassword" asp-for="CurrentPassword"
                                                       placeholder="Cari şifrə" required="required"
                                                       aria-required="true" class="form-control">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-info"
                                                            id="eyeBtn">
                                                        <i class="far fa-eye-slash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-step custom-card-step">
                                            <h3 class="step-title upper">YENİ ŞİFRƏ</h3>
                                            <input id="NewPassword" asp-for="NewPassword" placeholder="Yeni şifrə"
                                                   required="required" aria-required="true"
                                                   class="form-control" aria-autocomplete="list">
                                            <input id="ConfirmNewPassword" asp-for="ConfirmNewPassword"
                                                   placeholder="Yeni şifrənin təkrarı" required="required"
                                                   aria-required="true" class="form-control">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-submit btn-primary">
                                            <span>
                                                Yadda saxla
                                            </span>
                                        </button>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-password-info h100">
                                            <div class="text-center">
                                                <img src="~/assets/images/safety.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



