@model List<About>
<div class="main-container">
    <!-- About Start -->
    <div class="block">
        <div class="block-header">
            <h2 class="block-title">Haqqımızda</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Ana səhifə</a>
                </li>
                <li class="breadcrumb-item active">
                    <span>Haqqımızda</span>
                </li>
            </ul>
        </div>
        <div class="block-body">
            @foreach (About about in Model)
            {
                <div class="card card-about mb-20">
                    <div class="card-body">
                        <img src="./assets/images/mascot-full.svg" alt="" class="float-right card-img">
                        <div class="card-text">
                            <h5>@about.Title</h5>
                            <br>
                            <p>@Html.Raw(about.Desc)</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <!-- About End -->
</div>